# bike-stats
## Mohammad AlKhatib
#### 15/11/2021

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from datetime import date
import datetime

In [2]:
tdf = pd.read_csv('trip.csv',error_bad_lines=False)
wdf = pd.read_csv('weather.csv')
sdf = pd.read_csv('station.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

## What is the average trip duration for a borrowed bicycle?

In [3]:
print ('Average trip duration =',tdf['tripduration'].mean())

Average trip duration = 1178.2956753399776

In [4]:
assert tdf['tripduration'].mean() == 1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [5]:
print ('Most common bicycle sharer is', date.today().year - tdf['birthyear'].mode()[0])

Most common bicycle sharer is 34.0

In [13]:
assert date.today().year - tdf['birthyear'].mode()[0] == 34

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [6]:
def convert_date_year(date):
    return datetime.datetime.strptime(date,'%m/%d/%Y').year

def convert_date_month(date):
    return datetime.datetime.strptime(date,'%m/%d/%Y').month
wdf['month'] = wdf['Date'].apply(convert_date_month)
wdf['year'] = wdf['Date'].apply(convert_date_year)
new = wdf[['year','month','Precipitation_In']]
print ('The Average Precipitation Per Month')
new.groupby(['year', 'month'])['Precipitation_In'].mean()

The Average Precipitation Per Month

year  month
2014  10       0.300526
      11       0.141667
      12       0.145161
2015  1        0.070645
      2        0.163214
      3        0.135161
      4        0.056667
      5        0.014194
      6        0.005667
      7        0.008710
      8        0.035484
      9        0.041000
      10       0.120645
      11       0.234000
      12       0.327419
2016  1        0.216452
      2        0.173448
      3        0.178710
      4        0.046000
      5        0.010645
      6        0.055333
      7        0.015484
      8        0.000968
Name: Precipitation_In, dtype: float64

In [7]:
print ('The Median Precipitation Per Month')
new.groupby(['year', 'month'])['Precipitation_In'].median()

The Median Precipitation Per Month

year  month
2014  10       0.140
      11       0.010
      12       0.010
2015  1        0.010
      2        0.025
      3        0.000
      4        0.000
      5        0.000
      6        0.000
      7        0.000
      8        0.000
      9        0.000
      10       0.010
      11       0.065
      12       0.120
2016  1        0.070
      2        0.080
      3        0.060
      4        0.000
      5        0.000
      6        0.000
      7        0.000
      8        0.000
Name: Precipitation_In, dtype: float64

## What’s the average number of bikes at a given bike station?

In [8]:
print ('The average number of bikes',sdf['install_dockcount'].mean())

The average number of bikes 17.586206896551722

In [15]:
assert sdf['install_dockcount'].mean() == 17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [9]:
new = sdf.dropna(subset=['modification_date'], inplace=False)
print ('Avearage install dockcount for modified stations is', new['install_dockcount'].mean())
print ('Avearage current dockcount for modified stations is', new['current_dockcount'].mean())
print ('Modification will let a station lose bikes')

Avearage install dockcount for modified stations is 17.529411764705884
Avearage current dockcount for modified stations is 13.764705882352942
Modification will let a station lose bikes

## What is the average number of install dock counts?

In [10]:
print ('The answer is', sdf['install_dockcount'].mean())

The answer is 17.586206896551722

## What is the maximum recorded temp?

In [11]:
print ('The answer is', wdf['Max_Temperature_F'].max())

The answer is 98

## What is the median recorded trip duration?

In [12]:
print ('The answer is', tdf['tripduration'].median())

The answer is 624.842